# =========================
# ROS2 workspace
# =========================
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# specifically ignore package-level cache
ros2_ws/src/my_ros2_assignment/my_ros2_assignment/__pycache__/
ros2_ws/scr/doosan-robot2/
ros2_ws/scr/my_ros2_assignmnnet/test/
# =========================
# Editor / OS
# =========================
.vscode/
.idea/
.DS_Store

# =========================
# CMake / colcon
# =========================
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

# =========================
# ROS runtime files
# =========================
*.bag
*.db3
